body{
  background-color: #20202b;
}
.card-body-text{
  border-bottom: 1px solid grey;
  color: lightgrey;
}
.card-head{
  color: white;
  background-color: #edad61;
  padding: 10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.card-body{
  background-color: #2f2f3a;
}
.card-layout{
  width: 50%;
  margin-left: 100px;
  box-shadow: 0px 5px 30px #15151b;
  margin-top: 100px;
}
.card-middle{
  color: lightgrey;
}
.card-footer{

}